@import "./base.scss";

.domain {
    .search {
        height: 50px;
        background-color: #fff;
        padding: 10px;
    }

    .list {
        margin-top: 20px;
        background-color: #fff;
        padding: 10px
    }
}