.search {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.table {
    background-color: #fff;
    padding: 10px;

    .action {
        margin-bottom: 10px;
    }
}