.tab-card {
    background-color: #ffff;
    padding: 10px;

    .title {
        font-size: 14px;
    }

    .content {
        font-size: 30px;
    }

    .bottom {
        border-top: 1px solid #f0f0f0;
        padding-top: 10px;
    }
}